{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-end">
       <a href="http://localhost/mediatekformation/public/index.php/admin"><h5>Gestion du site</h5></a>
     </div>
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="image de la banniere">
        </div>
        <!-- menu -->
                 <nav>
            <ul>
                <li>
                    <a href="{{ path('accueil') }}"><h5>Accueil</h5></a>
                </li>
                <li>
                    <a href="{{ path('formations') }}"><h5>Formations</h5></a>
                </li>
                <li>
                    <a href="{{ path('playlists') }}"><h5>Playlists</h5></a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><strong>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </strong></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}